main{
	width: 100%;
	height: 650px;
	/* background-image: url(../img/reg_back.png);
	background-repeat: no-repeat;
	background-size: 100% 80%; */
}

.login{
	height: 670px;
	width: 800px;
	margin: 0px auto;
	margin-top: 30px;
	/* border-radius: 20px;
	border:#911 solid thin; */
}
/* .title{
	height: 80px;
	width: 800px;
	
	margin: 0px auto;
} */
.title>img{
	margin-left: 250px;
	float: left;
	margin-top: 20px;
}
/* 标题 */
/* .title>h1{
	margin-top: 20px;
	margin-left: 50px;
	text-align: center;
	color:#808080;
	float: left;
	
} */
/* 内注册界面 */
.login .content{
	height: 550px;
	width: 600px;
	/* border: red solid thin; */
	text-align: center;
	margin: 0px auto;
	/* background-color: rgba(153,16,16,0.1);
	border-radius: 20px; */
	
}

form label{
	/* color: #911; */
	color:rgba(153,16,16);
	font-size: 18px;
	font-weight: 500;
}
form  [type="text"]{
	height: 40px;
	width: 300px;
	font-size: 16px;
	margin: 0px auto;
	padding-left: 35px;
	margin-top: 10px;
	font-size: 16px;
	word-spacing: 50px;
	background-color: white;
	border: rgb(153,16,16) solid thin;
	border-radius: 10px;
}
form [type="password"]{
	height: 40px;
	width: 300px;
	font-size: 16px;
	margin: 0px auto;
	padding-left: 35px;
	margin-top: 10px;
	font-size: 16px;
	background-color: white;
	border: rgb(153,16,16) solid thin;
	border-radius: 10px;
}
/* 填写验证码的文本框 */
form [type="text"][name="code"]{
	height: 40px;
	width: 200px;
	font-size: 16px;
	margin: 0px auto;
	padding-left: 35px;
	margin-top: 10px;
	font-size: 16px;
	background-color: white;
	border: rgb(153,16,16) solid thin;
	border-radius: 10px;
}
/* 获取验证码按钮 */
form #btn{
	height: 40px;
	width: 100px;
	font-size: 16px;
	font-size: 16px;
	background-color: rgba(153,16,16,0.8) ;
	color: white;
	border: rgb(153,16,16) solid thin;
	border-radius: 10px;
}
form #btn:hover{
	color: white;
	background-color: rgb(153,16,16);
}

/* 多文本框 */
form textarea{
	height: 80px;
	width: 400px;
	font-size: 16px;
	margin: 0px auto;
	padding-left: 35px;
	margin-top: 10px;
	font-size: 16px;
	background-color: white;
	border: rgb(153,16,16) solid thin;
	border-radius: 10px;
}
/* 忘记密码？部分 */
form a{
	color: rgba(153,16,16,0.6);
	font-size: 14px;
	font-weight: 500;
	display: inline-block;
	margin-left: 10px;
	margin-top: 10px;
}
form a:hover{
	color: rgb(153,16,16);
}

/* 提交按钮 */
form [type="submit"]{
	margin-top: 10px;
	width: 90px;
	height: 40px;
	font-size: 16px;
	margin-right: 30px;
	border: #911 solid thin;
	border-radius: 10px;
	background-color: rgba(153,16,16,0.8) ;
	color: white;
}
form [type="reset"]{
	width: 90px;
	height: 40px;
	font-size: 16px;
	margin-top: 10px;
	border: #911 solid thin;
	border-radius: 10px;
	background-color: rgba(153,16,16,0.8) ;
	color: white;
}
form [type="submit"]:hover,form [type="reset"]:hover{
	background-color: rgb(153,16,16);
}